.player {
    display: flex;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 20px 0 0 20px;
    span {
        font-size: 25px;
        margin-left: 20px;
    }

    img {
        height: 50px;
        width: 50px;
        padding: 10px;
        margin-left: 20px;
        border-radius: 100%;
        background-color: rgb(198, 198, 243);
        object-fit: cover;
    }
}