<div class="field">
    <div class="card-stack">
        <img [ngStyle]="{'right.px': i*5}"  *ngFor="let c of [1,2,3,4,5]; let i = index;"  src="/assets/img/cards//blue_back.png" alt="">

        <img (click)="takeCard()" style="right: 25px;" class="top-card"  src="/assets/img/cards/blue_back.png" alt="">

        <img class="played-card" *ngFor="let card of game?.playerCard" src="/assets/img/cards/{{ card }}.png" alt="">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" style="right: 25px;" class="pick-card"  src="/assets/img/cards/{{ currentCard }}.png" alt="">

    </div>
</div>